.moving-figure{
  position relative
  overflow hidden
  .figure-wrap-enter {
    opacity: 0;
  }

  .figure-wrap-enter-active {
    opacity: 1;
    transition: all 0.6s ease;
  }

  .figure-wrap-exit {
    opacity 1
  }

  .figure-wrap-exit-active {
    opacity: 0;
    transition: all 0.6s ease;
  }
  .figure{
    position absolute
    setTransition(2s)
  }

}

