

.main-nav{
  height 65px

  .right-side{
    flex-grow 1
    margin-left 300px
    justify-content flex-end
    align-items center
    .separate{
      width 2px
      height 20px

    }



    .login-btn{
      margin-right 20px
      button{
        vertical-align middle
        font-size sm - 0.2rem
        padding 3px 12px
        text-align center
        border 2px solid
        border-radius 20px


        font-weight 550
        setTransition(0.2s)

      }
    }
  }
  &.dark-light{
    background-color white
    .separate{
      background-color deepblack

    }
    .login-btn{
      button{
        border-color deepblack
        color #1d1d1d
        background-color white
        &:hover{
          background-color deepblack
          color white
        }
      }
    }
  }
  &.sky{
    background-color primary
    .separate{
      background-color white
    }
    .login-btn{
      button{
        border-color white
        color white
        background-color primary

        &:hover{
          background-color white
          color primary
        }
      }
    }
  }
}
