.logo-wrap{
  .logo{
    &.dark-light{
      .brand-name{
        color black
      }
    }
    &.sky{
      .brand-name{
        color white
      }
    }
    img{
      margin-right 10px
      height 32px
    }
    .brand-name{

      font-weight 550
      font-family: 'Jua', sans-serif
    }
    display flex
    align-items center

    &.logo-md{
      height 65px
      font-size md + 0.2rem
    }
    &.logo-sm{
      height 35px
      font-size md
    }
    &.logo-lg{
      height 85px
      font-size md + 0.4rem
    }
  }
}
