.welcome-route{
  .moving-ghost{
    height 200px
  }
  .welcome-route-content{
    position relative
    height 100vh

    &.sky{
      background-color rgba(white, 0.8)
    }
    &.dark-light{
      background-color rgba(#1d1d1d, 0.8)
    }

  }
}



