
.lgp-wrap {
  .lgp-btn{
    font-size lg
  }



  .language-picker {
    top 100%
    width 162px
    left 50%
    transform translateX(-50%)
    .each-lang{
      display flex
      &:hover{
        .name{
          color white
        }
      }
      .flag {
        vertical-align middle
        img {
          width 30px
        }
      }
      .name {
        vertical-align middle
        display inline-block
        color deepblack
        font-weight 550
        font-size sm - 0.2rem
        margin-left 10px
        white-space nowrap
      }
    }

  }
}
